@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.result {
  font-family: "Open Sans";
}

.navbar__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  background-color: blue;
}

.navbar__start_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__start_nav img {
  width: 105px;
}

.search_container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search_input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search_button {
  padding: 5px 10px;
  background-color: #7c1414;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}

.search_button:hover {
  background-color: #6a1212;
}

.home_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.home_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 300px;
  width: 500px;
  position: relative;
  margin: 10px;
  font-size: 14px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  left: -110px;
  position: relative;
  top: 80px;
}

.home_card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

span {
  font-weight: 600;
  padding: 20px;
  color: #7c1414;
}

.A {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.A li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #7c1414;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.A li:hover {
  background-color: #7c1414;
  color: #ffffff;
}

.home_div img {
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  top: 80px;
}

.home_div:hover img {
  transform: scale(1.05);
}
